.ant-row .ant-form-item-row {
   width: 100% !important;
   align-items: center !important;
}

.ant-form-item-control-input-content {
   width: fit-content !important;
   /* display: flex !important; */
   justify-content: flex-end !important;
}

.ant-form-item-label label {
   max-width: 200px !important;
   height: fit-content !important;
   text-align: left;
   font-size: 13px !important;
}

.ant-form-item-label > label::after {
   content: '' !important;
}

.ant-form-item {
   margin-bottom: 0px !important;
}

.ant-tabs-tab-btn {
   font-weight: bold;
   font-size: 14px;
}
