.ant-card-head {
   max-height: 48px !important;
}
.ant-card-head-title {
   padding: 8px 0px !important;
}
.ant-card-extra {
   padding: 8px 0px !important;
}
.ant-card-body {
   padding: 8px !important;
}
.ant-card {
   .ant-card-head {
      height: auto !important;
   }
}

.regular-divider {
   font-size: 14px;
   font-weight: 500;
   display: flex;
   align-items: center;
}
.regular-divider::before {
   margin-right: 12px;
}
.regular-divider::after {
   margin-left: 12px;
}
.regular-divider::before,
.regular-divider::after {
   flex: 1;
   content: '';
   padding: 1px;
   background-color: #c9cdd4;
}

.regular-tree {
   width: 100%;
   padding: 4px 4px;
   display: flex;
   flex-direction: column;
   gap: 12px;
   .head-tree {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .top {
         align-items: center;
         display: flex;
         flex-direction: row;
         gap: 8px;
         p {
            color: #4e5969;
            font-family: Ubuntu;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
         }
         &:hover {
            cursor: pointer;
         }
      }
   }
   .body-tree {
      padding-left: 12px;
      .body-tree-content {
         padding-left: 15px;
         .body-tree-content-item {
            display: flex;
            flex-direction: row;
            gap: 12px;
            p {
               color: #4e5969;
               font-family: Ubuntu;
               font-size: 14px;
               font-style: normal;
               font-weight: 500;
               line-height: normal;
               &:hover {
                  cursor: pointer;
               }
            }
         }
         .body-tree-content-item.active {
            background-color: #fff7e8;
            border-radius: 8px;
         }
      }
   }
}

.emr-plan-table {
   tr {
      max-height: 15px !important;
   }
   th.ant-table-cell {
      font-size: 12px !important;
   }
   td.ant-table-cell {
      font-size: 12px !important;
      div {
         font-size: 12px !important;
      }
   }
}

.app-button-regular {
   display: flex;
   padding: 8px 12px;
   justify-content: center;
   align-items: center;
   gap: 8px;
   color: white;
   border-radius: 4px;
   background: #2d8cff;
   &:hover {
      color: white;
   }
}

.attachment-12,
.attachment-13 {
   display: flex;
   flex-direction: column;
   gap: 8px;
   .list {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 8px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      .head {
         display: flex;
         justify-content: space-between;
         p {
            font-size: 14px;
            font-weight: 600;
            color: #6b7785;
         }
      }
   }
   .graph {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 8px;
      .line {
         padding: 8px;
         width: 100%;
         background: #fff;
         border-radius: 6px;
         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
      @media (min-width: 1025px) {
         grid-template-columns: repeat(2, minmax(0, 1fr));
      }
   }
}

.ambo-list {
   display: flex;
   flex-wrap: wrap;
   gap: 4px;
   align-items: center;
   align-content: flex-start;
   width: 100%;
   padding: 12px;
   border-radius: 8px;
   border: 1px solid #e5e6eb;
   background: #fff;
}
.ambo-list-filter {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 12px;
   > .left {
      display: flex;
      flex-direction: row;
      gap: 12px;
      button {
         display: flex;
         padding: 9px 12px;
         justify-content: center;
         align-items: center;
         gap: 8px;
         border-radius: 4px;
         border: 1px solid #c9cdd4;
         background: #fff;
         color: #6b7785;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
      }
      > .ant-picker {
         height: 40px !important;
         .ant-picker-input {
            input::placeholder {
               font-size: 14px !important;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               color: #6b7785;
            }
         }
      }
   }
   > .right {
      display: flex;
      flex-direction: row;
      gap: 12px;
      > input {
         height: 40px;
         background: white;
      }
      > .pagi-list {
         height: 40px;
         display: flex;
         flex-direction: row;
         padding: 7px 13px;
         align-items: center;
         border-radius: 4px;
         border: 1px solid #c9cdd4;
         background: #fff;
         .pager {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            &:hover {
               cursor: pointer;
            }
         }
         p {
            min-width: 120px;
         }
         > .ant-select {
            > .ant-select-selector {
               border: none !important;
            }
         }
      }
   }
}

.ambo-list-user {
   display: flex;
   flex-direction: row;
   gap: 3px;
   align-items: center;
   > .info {
      > p.name {
         color: #272e3b;
         font-size: 14px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
      }
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;
   }
}

.section {
   display: flex;
   flex-direction: row;
   gap: 8px;
   align-items: center;
   svg {
      min-height: 16px;
      min-width: 16px;
   }
   > p {
      white-space: nowrap;
      padding: 4px 0px;
      color: #86909c;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &:hover {
         cursor: pointer;
      }
   }
}
.section.active {
   border-bottom: 2px solid #2d8cff;
   p {
      color: #2d8cff;
   }
}
.ambo-issuse-order {
   height: 640px;
   border-radius: 8px;
   background-color: white;
   padding: 8px;
   display: flex;
   flex-direction: column;
   gap: 8px;
   > .header {
      position: relative;
      height: 26px;
      width: 100%;
      button.splide__arrow.splide__arrow--prev {
         left: 0 !important;
      }
      button.splide__arrow.splide__arrow--next {
         right: 0 !important;
      }
      > .swiper-group {
         position: absolute;
         width: calc(100% - 16px);
         height: 26px;
         padding: 0px 26px;

         > .box-next,
         .box-prev {
            img {
               height: 26px;
               width: 26px;
            }
            &:hover {
               cursor: pointer;
            }
         }
         > .box-prev {
            position: absolute;
            background-color: white;
            top: 0px;
            left: 0px;
            width: 26px !important;
            min-width: 26px !important;
            justify-content: center !important;
            z-index: 3;
         }
         > .box-next {
            position: absolute;
            background-color: white;
            top: 0px;
            right: 0px;
            width: 26px !important;
            min-width: 26px !important;
            justify-content: center !important;
            z-index: 3;
         }
      }
   }

   > .content {
      height: calc(100% - 40px);
      .list-of-issues,
      .list-of-orders {
         border-radius: 8px;
         background: #f2f3f5;
         overflow: auto;
         height: 100%;
         .diagnose {
            display: flex;
            flex-direction: column;
            padding: 6px;
            gap: 8px;
            > .header {
               display: flex;
               flex-direction: row;
               gap: 8px;
               span.code {
                  color: #3fb37f;
               }
               span {
                  color: #a9aeb8;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
               }
               &:hover {
                  cursor: pointer;
               }
            }
            > .expandable {
               padding-left: 20px;
               display: flex;
               flex-direction: column;
               gap: 8px;
               p {
                  color: #4e5969;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
               }
            }
            > .description {
               display: flex;
               align-items: flex-end;
               flex-direction: column;
               > button {
                  display: flex;
                  padding: 6px 12px;
                  justify-content: center;
                  align-items: center;
                  gap: 4px;
                  border-radius: 4px;
                  border: 1px solid #c9cdd4;
                  background: #fff;
               }
            }
         }
         .document {
            display: flex;
            flex-direction: column;
            padding: 6px;
            gap: 8px;
            > .header {
               display: flex;
               flex-direction: row;
               gap: 8px;
               span.code {
                  color: #e34935;
               }
               span {
                  color: #a9aeb8;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
               }
               &:hover {
                  cursor: pointer;
               }
            }
            > .expandable {
               padding-left: 20px;
               display: flex;
               flex-direction: column;
               gap: 8px;
               p {
                  color: #4e5969;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
               }
            }
            > .description {
               display: flex;
               align-self: flex-end;
               flex-direction: row;
               gap: 8px;
               > button {
                  display: flex;
                  padding: 6px 12px;
                  justify-content: center;
                  align-items: center;
                  gap: 4px;
                  border-radius: 4px;
                  border: 1px solid #c9cdd4;
                  background: #fff;
               }
            }
         }
         .documents-in {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .document-in {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               padding: 12px;
               gap: 8px;
               border-radius: 4px;
               background-color: #c9cdd4;
               &:hover {
                  cursor: pointer;
               }
            }
            .document-in.expanded {
               border-bottom-left-radius: 0px;
               border-bottom-right-radius: 0px;
            }
            .document-in-body {
               display: flex;
               flex-direction: column;
               gap: 4px;
               padding: 0px 12px;
            }
         }
         .order {
            display: flex;
            flex-direction: column;
            padding: 6px;
            gap: 8px;
            > .header {
               display: flex;
               flex-direction: row;
               gap: 8px;
               > .name {
                  color: #ec7a09;
                  font-weight: 500;
                  font-size: 13px;
               }
            }
            > .description {
               display: flex;
               justify-content: space-between;
               flex-direction: row;
               padding-left: 20px;
               p {
                  display: flex;
                  flex-direction: row;
                  gap: 4px;
                  font-size: 13px;
               }
            }
            > .extra {
               padding-left: 20px;
               display: flex;
               flex-direction: row;
               gap: 20px;
               justify-content: space-between;
               button {
                  display: flex;
                  padding: 4px 8px;
                  justify-content: center;
                  align-items: center;
                  gap: 4px;
                  font-size: 13px;
                  border-radius: 4px;
                  border: 1px solid #c9cdd4;
                  background: #fff;
               }
            }
         }
      }
   }
}

.hospital-order {
   display: flex;
   flex-direction: column;
   gap: 12px;
   > .header {
      width: 100%;
      overflow: auto;
      display: flex;
      flex-direction: row;
      gap: 8px;
      > p {
         padding: 12px 6px;
         color: #86909c;
         font-size: 14px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         &:hover {
            cursor: pointer;
         }
      }
      > p.active {
         color: #2d8cff;
         border-bottom: 2px solid #2d8cff;
      }
   }
}
.green-order {
   display: flex;
   padding: 6px 10px;
   justify-content: center;
   align-items: center;
   gap: 8px;
   color: #f7f8fa;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   border-radius: 4px;
   background: #22a06b;
}
.yellow-order {
   display: flex;
   padding: 6px 10px;
   justify-content: center;
   align-items: center;
   gap: 8px;
   color: #4e5969;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   border-radius: 4px;
   background: #fbe3b9;
}
.internal-order-set-order {
   display: flex;
   flex-direction: column;
   gap: 8px;
   .filter {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 12px;
      span.ant-input-affix-wrapper {
         height: 38px !important;
      }
      .filter-icon {
         width: 38px;
         height: 38px;
         padding: 8px;
         border-radius: 4px;
         background: #e5e6eb;
         text-align: center;
         svg {
            width: 16px;
            height: 16px;
            color: #6b7785;
         }
      }
   }
   .set-order-add-button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      button {
         display: flex;
         padding: 8px 12px;
         justify-content: center;
         align-items: center;
         gap: 8px;
         display: flex;
         flex-direction: row;
         border-radius: 4px;
         border: 1px solid #22a06b;
         background: #f7f8fa;
         color: #22a06b;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
      }
   }
}

.list-type {
   border-radius: 4px;
   padding: 6px;
   display: flex;
   text-align: start;
   align-items: flex-start;
   color: #6b7785;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.list-type.active {
   background: #e5e6eb;
}

.document-forms {
   .form-child {
      padding-left: 24px;
   }
}

.document-form {
   display: flex;
   flex-direction: row;
   padding: 4px 0px;
   .form-left {
      width: 8px;
      background: #c9cdd4;
      border-radius: 8px 0px 0px 8px;
   }
   .form-inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 8px;
      background: #f7f8fa;
      border-radius: 0px 8px 8px 0px;
      .ant-radio-group {
         background-color: #f7f8fa !important;
      }
      .ant-form-item-control-input-content {
         background-color: #f7f8fa !important;
      }
      input,
      textarea {
         background-color: white;
      }
      input:disabled {
         color: black;
      }
   }
   &:hover {
      cursor: pointer;
      .form-left {
         background: #2d8cff;
      }
      .form-inputs {
         background: #ecf5ff;
         .ant-radio-group {
            background-color: #ecf5ff !important;
         }
         .ant-form-item-control-input-content {
            background-color: #ecf5ff !important;
         }
      }
   }
}
.document-form.active {
   .form-left {
      background: #2d8cff;
   }
   .form-inputs {
      background: #ecf5ff;
   }
}
.document-form.disabled {
   opacity: 0.6;
}

.ant-tabs-content {
   height: 100% !important;
   .ant-tabs-tabpane {
      height: 100% !important;
   }
}
.ant-modal-content {
   display: flex;
   padding: 12px;
   flex-direction: column;
   align-items: flex-end;
   gap: 8px;
   border-radius: 8px !important;
   .ant-modal-header {
      width: 100%;
      border-radius: 8px 8px 0 0 !important;
      padding: 4px 0px !important;
      border-bottom: 2px solid #c9cdd4;
   }
   .ant-modal-body {
      width: 100%;
      padding: 0px !important;
   }
   .ant-modal-footer {
      width: 100%;
   }
}

.ambo-enr {
   border-radius: 8px;
   background-color: white;
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding: 6px;
   .ambo-enr-list {
      display: flex;
      flex-direction: row;
      gap: 4px;
      .line {
         height: auto;
         width: 1px;
         background-color: #c9cdd4;
      }
      button {
         display: flex;
         padding: 8px 6px;
         justify-content: center;
         align-items: center;
         gap: 8px;
         color: #86909c;
         font-size: 14px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         border: 1px solid transparent;
         &:hover {
            color: #2d8cff;
            border-bottom-width: 1px;
            border-bottom-color: #2d8cff;
         }
      }
      button.active {
         color: #2d8cff;
         border-bottom-width: 1px;
         border-bottom-color: #2d8cff;
      }
   }
}
.patient-requests {
   display: flex;
   flex-direction: column;
   gap: 8px;
   a {
      display: flex;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      background: #2d8cff;
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      &:hover {
         color: black;
      }
   }
}

.erequest {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   .range-picker {
      width: 200px;
      min-height: 38px;
   }
   .range-picker.active {
      border: 1px solid #2d8cff;
   }
   .ant-input-affix-wrapper {
      min-height: 38px !important;
      background-color: white !important;
   }
   span.ant-input-group-addon {
      button.ant-input-search-button {
         height: 38px !important;
      }
   }
   button.filter {
      display: flex;
      padding: 10px 12px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      border: 1px solid #f2f3f5;
      background: #fff;
      color: #6b7785;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:hover {
         border: 1px solid #2d8cff;
      }
   }
   button.filter.active {
      color: #2d8cff;
      border: 1px solid #2d8cff;
   }
   .ant-select {
      .ant-select-selector {
         height: 38px !important;
      }
   }
}

table.table-611 {
   width: 100%;
   thead {
      font-size: 12px;
      tr {
         th {
            border: 1px solid black;
            padding: 2px 6px;
         }
      }
   }
   tbody {
      font-size: 12px;
      tr {
         th {
            border: 1px solid black;
            padding: 2px 6px;
         }
         td {
            vertical-align: baseline;
            border: 1px solid black;
            padding: 2px 6px;
            span {
               color: black;
            }
         }
      }
   }
}

.exo {
   .exo-header,
   .exo-footer {
      display: flex;
      flex-direction: column;
      gap: 4px;
      display: none;
   }
   .exo-page {
      page-break-after: auto;
   }
   @media print {
      .exo-page {
         padding-left: 1cm;
         padding-right: 1cm;
      }
      .exo-header,
      .exo-header-space {
         padding-top: 5px;
         padding-left: 1cm;
         padding-right: 1cm;
         height: 120px;
      }
      .exo-footer,
      .exo-footer-space {
         padding-left: 1cm;
         padding-right: 1cm;
         height: 95px;
      }
      .exo-header {
         display: flex;
         position: fixed;
         top: 0mm;
         width: 100%;
      }
      .exo-footer {
         display: flex;
         position: fixed;
         bottom: 0;
         width: 100%;
      }
      thead {
         display: table-header-group;
      }
      tfoot {
         display: table-footer-group;
      }
   }
}

.laboratory {
   table.lab {
      thead,
      tbody {
         tr {
            th,
            td {
               text-align: center;
               border: 1px solid black;
            }
         }
      }
   }
   .lab-header {
      height: 230px;
   }
   .lab-footer {
      height: 100px;
   }
   .lab-page {
      width: 100%;
      page-break-before: always;
      :last-child {
         page-break-before: avoid;
      }
   }
   @media print {
      .lab-page {
         padding-left: 1.25cm;
         padding-right: 1.25cm;
      }
      .lab-header,
      .lab-header-space {
         padding-top: 1.7526cm;
         padding-left: 1.25cm;
         padding-right: 1.25cm;
         height: 230px;
      }
      .lab-footer,
      .lab-footer-space {
         padding-bottom: 1.7526cm;
         padding-left: 1.25cm;
         padding-right: 1.25cm;
         height: 100px;
      }
      .lab-header {
         position: fixed;
         top: 0;
         width: 100%;
      }
      .lab-footer {
         position: fixed;
         bottom: 0;
         width: 100%;
      }
      thead {
         display: table-header-group;
      }
      tfoot {
         display: table-footer-group;
      }
   }
}
