.body {
  margin: 24px 16px;
}

/* .ant-col .ant-form-item-label {
    align-self: center !important;
} */
.pagination {
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.ant-input-group-addon {
  background-color: none !important;
  background: none !important;
}
.ant-menu {
  background: #ffffff;
}
.ant-card .ant-card-head {
  padding: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
