.body {
   margin: 24px 16px;
}
.text-rtl {
   writing-mode: tb !important;
}
.text-tb {
   writing-mode: horizontal-tb !important;
}

/* .ant-col .ant-form-item-label {
    align-self: center !important;
} */
.pagination {
   justify-content: center;
   padding-top: 1%;
   padding-bottom: 1%;
}

.ant-input-group-addon {
   background-color: none !important;
   background: none !important;
}

.ant-menu {
   background: #ffffff;
}

.ant-card .ant-card-head {
   padding: 0 !important;
   padding-left: 10px !important;
   padding-right: 10px !important;
   height: 60px !important;
}

.button-active {
   border-color: rgb(128, 131, 128);
   background-color: rgb(128, 131, 128);
}

.add-button {
   color: white;
   border-color: green;
   background-color: green;
}
.checkTag .ant-tag-checkable-checked {
   background-color: white !important;
   color: #1890ff !important;
}
.checkTag .ant-tag {
   font-size: 14px !important;
}
.antiStatis .ant-statistic-content {
   font-size: 19px !important;
   font-weight: bold !important;
}
.ant-collapse-content > .ant-collapse-content-box {
   padding: 8px !important;
}
