.menu-item-sub-popup {
   z-index: 1000;
   padding: 12px;
   border-radius: 15px;
   background-color: white;
   position: absolute;
   max-height: 400px;
   overflow: auto;
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.menu-item {
   min-width: 20px;
   display: flex;
   padding: 6px;
   flex-direction: row;
   gap: 8px;
   align-items: center;
   color: #38586e;
   p > svg {
      width: 20px;
      height: 20px;
   }
   &:hover {
      cursor: pointer;
      border-radius: 8px;
      background-color: #c0dcff;
      color: #2d8cff !important;
   }
}
.menu-item.active {
   border-radius: 8px;
   color: #2d8cff;
   background-color: #c0dcff;
}

section.ant-layout {
   transition: all 1s ease 0s;
   background-color: white;
   .ant-layout-sider-children {
      .sidebar {
         height: 100vh;
         gap: 12px;
         padding: 12px;
         transition: all 0.5s;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         min-width: 200px;
         max-width: 200px;
         background-color: white;
         .sidebar-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 12px;
            justify-content: space-between;
            align-items: center;
            img {
               height: 53px;
               opacity: 0;
               animation: fadeIn 1s forwards;
            }
            @keyframes fadeIn {
               to {
                  opacity: 1;
               }
            }
         }
         .sidebar-body {
            .menu-item-sub-popup.hided {
               display: none;
            }
            .menu-item-sub-popup.showed {
               display: flex;
               a.menu-item {
                  span {
                     display: flex;
                  }
               }
            }
            height: 100%;
            overflow: auto;
            width: 100%;
            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-radius: 12px;
            background-color: #eff4fa;
            .menu-item-sub {
               display: flex;
               flex-direction: column;
               transition: 0.3s ease;
               padding: 6px;
               .menu-item-sub-head {
                  p > svg {
                     width: 20px;
                     height: 20px;
                  }
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  img {
                     height: 14px;
                  }
                  &:hover {
                     cursor: pointer;
                  }
               }
               .menu-item-sub-body {
                  display: flex;
                  flex-direction: column;
                  padding-left: 6px;
                  gap: 3px;
                  height: auto;
                  .before {
                     display: flex;
                     flex-direction: row;
                     gap: 3px;
                     a {
                        width: 100%;
                     }
                     img {
                        height: 100%;
                     }
                  }
               }
               p.label {
                  color: #a0aab3;
               }
            }
            .menu-item-sub.expand {
               height: auto;
            }
         }
         .sidebar-body.loading {
            justify-content: center;
            align-items: center;
         }
         .sidebar-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            padding: 12px;
            justify-content: space-between;
            border-top: 1px solid #c9cdd4;
            &:hover {
               cursor: pointer;
            }
            .image-cropper {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 45px;
               height: 45px;
               position: relative;
               overflow: hidden;
               border-radius: 50%;
            }
            .profile-pic {
               height: auto;
               width: auto;
            }
            .profile-info {
               .profile-lastname {
                  font-size: 14px;
                  font-weight: 700;
                  color: #445565;
               }
               .profile-firstname {
                  font-size: 13px;
                  font-weight: 500;
                  color: #a8b3be;
               }
            }
            .logout {
               font-size: 18px;
               color: red;
               &:hover {
                  cursor: pointer;
               }
            }
         }
      }
      .sidebar.collapsed {
         max-width: 77px;
         min-width: 77px;
         .sidebar-header {
            flex-direction: column;
         }
         .sidebar-body {
            align-items: center;
            a.menu-item {
               span {
                  display: none;
               }
            }
         }
         .sidebar-footer {
            align-self: center;
            .image-cropper,
            .profile-info {
               display: none;
            }
         }
      }
   }
   .main-content {
      height: 100vh;
      overflow-x: hidden;
   }
}

.patient-info {
   min-width: 600px;
   max-width: 800px;
   display: flex;
   padding: 8px;
   flex-direction: row;
   gap: 16px;
   background-color: white;
   align-items: center;
   border-radius: 5px;
   .picture {
      max-height: 150px;
      min-height: 150px;
      max-width: 150px;
      min-width: 150px;
      border-radius: 16px;
      padding: 4px;
      border: 1px solid #c9cdd4;
      img {
         max-height: 140px;
         min-height: 140px;
         max-width: 140px;
         min-width: 140px;
         border-radius: 16px;
      }
   }
   > .info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      p.names {
         color: #6b7785;
         font-size: 20px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
      }
      .infos {
         display: grid;
         grid-template-columns: repeat(2, minmax(0, 1fr));
         gap: 4px;
         div:nth-child(even) {
            justify-content: end;
         }
      }
      p {
         color: #6b7785;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
      }
      > .ant-radio-group {
         height: 36px;
         > .ant-radio-button-wrapper {
            background-color: transparent;
            border: none !important;
            padding: 8px 12px;
            height: 36px;
         }
         > .ant-radio-button-wrapper-checked {
            height: 36px;
            border-radius: 8px;
            background: var(
               --30,
               linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%),
               #2d8cff
            );
         }
         > .ant-radio-button-wrapper::before {
            display: none;
         }
      }
   }
}
.new-emr {
   height: 100vh;
   display: flex;
   flex-direction: column;
   width: 100%;
   position: relative;
   .navbar {
      flex-wrap: nowrap;
      position: absolute;
      z-index: 3;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px;
      border-bottom: 1px solid #e5e6eb;
      background: #fff;
      .back a {
         display: flex;
         flex-direction: row;
         gap: 4px;
         align-items: center;
         color: #4e5969;
         font-weight: 500;
         &:hover {
            color: #2d8cff;
         }
      }
      .emr-navbar {
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
         gap: 8px;
         button {
            display: flex;
            padding: 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 4px;
            background: #2d8cff;
            color: white;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
         }
      }
   }
   .new-emr-index {
      height: 100vh;
      overflow: auto;
      .patient {
         display: flex;
         flex-direction: row;
         gap: 4px;
         padding: 50px 4px 4px 4px;
         background-color: white;
         border-bottom: 1px solid #e5e6eb;
         justify-content: space-between;
      }
      .note-timer {
         display: flex;
         flex-direction: row;
         gap: 8px;
      }
      .emr-body {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         background-color: #f5f6f7;
         .progress,
         .history {
            > .progress-note-header,
            > .history-header {
               position: relative;
               width: 100%;
               height: 30px;
               > .swiper-group {
                  position: absolute;
                  height: 26px;
                  width: 100%;
                  padding: 0px 26px;
                  .section {
                     display: flex;
                     flex-direction: row;
                     gap: 8px;
                     align-items: center;
                     svg {
                        min-height: 16px;
                        min-width: 16px;
                     }
                     > p {
                        white-space: nowrap;
                        padding: 4px 0px;
                        color: #86909c;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        &:hover {
                           cursor: pointer;
                        }
                     }
                  }
                  .section.active {
                     border-bottom: 2px solid #2d8cff;
                     p {
                        color: #2d8cff;
                     }
                  }
                  > .box-next,
                  .box-prev {
                     img {
                        height: 26px;
                        width: 26px;
                     }
                     &:hover {
                        cursor: pointer;
                     }
                  }
                  > .box-prev {
                     position: absolute;
                     background-color: white;
                     top: 0px;
                     left: 0px;
                     width: 26px !important;
                     min-width: 26px !important;
                     justify-content: center !important;
                     z-index: 3;
                  }
                  > .box-next {
                     position: absolute;
                     background-color: white;
                     top: 0px;
                     right: 0px;
                     width: 26px !important;
                     min-width: 26px !important;
                     justify-content: center !important;
                     z-index: 3;
                  }
               }
            }
         }
         .history,
         .progress {
            height: 640px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-radius: 8px;
            margin: 8px;
            padding: 8px;
            background-color: white;
            .head {
               display: flex;
               flex-direction: row;
               gap: 8px;
               justify-content: space-between;
               align-items: center;
               p {
                  font-size: 16px;
                  font-weight: 500;
                  color: #4e5969;
               }
            }
            .inpatient-history-filter {
               display: flex;
               flex-direction: column;
               gap: 8px;
               .filters {
                  display: grid;
                  grid-template-columns: repeat(4, minmax(0, 1fr));
                  gap: 8px;
                  button {
                     padding: 4px 8px;
                     justify-content: center;
                     align-items: center;
                     border-radius: 4px;
                     background: #f2f3f5;
                     font-size: 14px;
                     font-weight: 400;
                     color: #4e5969;
                  }
                  button.active {
                     color: white;
                     background-color: #2d8cff;
                  }
               }
            }
         }
      }
   }
}

.emr-doctor-notes-public {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 8px;
   gap: 6px;
   border-radius: 4px;
   border: 1px solid #61c695;
   background: #b6ecce;
   .content-notes {
      padding-right: 10px;
      max-height: 113px;
      height: 113px;
      overflow: auto;
      .note {
         display: flex;
         flex-direction: column;
         gap: 4px;
         .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .info {
               padding: 2px 8px;
               font-size: 10px;
               font-weight: 400;
               border-radius: 15px;
            }
            .doctor {
               color: #4e5969;
               font-size: 12px;
               font-weight: 400;
            }
         }
         .date {
            color: #6b7785;
            font-size: 12px;
            font-weight: 400;
         }
      }
   }
   button {
      display: flex;
      padding: 6px 8px;
      align-items: center;
      gap: 4px;
      border-radius: 4px;
      background: #22a06b;
      color: white;
   }
   textarea {
      width: auto;
      min-height: 33px;
      border-radius: 4px;
      border: 1px solid #c9cdd4;
      background: #fff;
      &:hover {
         border: 1px solid #22a06b;
      }
   }
}
.emr-doctor-notes-private {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 8px;
   gap: 6px;
   border-radius: 4px;
   border: 1px solid #f4b35e;
   background: #f4b35e;
   .content-notes {
      padding-right: 10px;
      max-height: 113px;
      height: 113px;
      overflow: auto;
      .note {
         display: flex;
         flex-direction: column;
         gap: 4px;
         .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .info {
               padding: 2px 8px;
               font-size: 10px;
               font-weight: 400;
               border-radius: 15px;
            }
            .doctor {
               color: #4e5969;
               font-size: 12px;
               font-weight: 400;
            }
         }
         .date {
            color: #6b7785;
            font-size: 12px;
            font-weight: 400;
         }
      }
   }
   button {
      display: flex;
      padding: 6px 8px;
      align-items: center;
      gap: 4px;
      border-radius: 4px;
      background: #ec7a09;
      color: white;
   }
   textarea {
      width: auto;
      min-height: 33px;
      border-radius: 4px;
      border: 1px solid #c9cdd4;
      background: #fff;
      &:hover {
         border: 1px solid #f4b35e;
      }
   }
}

.emr-timer {
   display: flex;
   padding: 8px;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   border-radius: 4px;
   background: #e5e6eb;
   p {
      color: #4e5969;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   p.timer {
      color: #4e5969;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   button {
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      background-color: white;
      font-weight: 700;
   }
}

@media (min-width: 320px) and (max-width: 768px) {
   .ambo-list-filter {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .left {
         justify-content: space-between;
         button {
            width: 100%;
         }
         .ant-picker.ant-picker-range {
            min-width: 250px;
         }
      }
   }
   .emr-index-list {
      .ant-table-body {
         max-height: calc(100vh - 285px) !important;
      }
   }
   .new-emr {
      .new-emr-index {
         .patient {
            padding-top: 88px !important;
            flex-direction: column !important;
            .patient-info {
               max-width: 100%;
               min-width: 100%;
               .info {
                  p.names {
                     font-size: 16px;
                  }
                  .infos {
                     div:nth-child(n) {
                        gap: 4px !important;
                     }
                  }
               }
            }
            .note-timer {
               flex-direction: column;
               gap: 8px;
               .emr-timer {
                  display: grid;
                  grid-template-columns: repeat(2, minmax(0, 1fr));
                  gap: 8px;
                  p:nth-child(odd) {
                     font-size: 14px;
                  }
                  .timer {
                     font-size: 20px;
                  }
               }
            }
         }
         .emr-body {
            flex-direction: column;
         }
      }
   }
}

@media (min-width: 769px) and (max-width: 1024px) {
   .ambo-list-filter {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .left {
         justify-content: space-between;
         button {
            width: 100%;
         }
         .ant-picker.ant-picker-range {
            min-width: 250px;
         }
      }
   }
   .new-emr {
      .new-emr-index {
         .emr-body {
            flex-direction: column;
         }
      }
   }
   .emr-index-list {
      .ant-table-body {
         max-height: calc(100vh - 290px) !important;
      }
   }
   .new-emr {
      .new-emr-index {
         .patient {
            justify-content: space-between;
            .patient-info {
               max-width: 400px;
               min-width: 400px;
               .info {
                  p.names {
                     font-size: 16px;
                  }
                  .infos {
                     display: flex;
                     flex-direction: column;
                     gap: 8px;
                     div:nth-child(even) {
                        justify-content: start;
                     }
                  }
               }
            }
            .note-timer {
               flex-direction: column;
               gap: 8px;
               .emr-timer {
                  display: grid;
                  grid-template-columns: repeat(2, minmax(0, 1fr));
                  gap: 8px;
                  p:nth-child(odd) {
                     font-size: 14px;
                  }
                  .timer {
                     font-size: 20px;
                  }
               }
            }
         }
      }
   }
}
@media (min-width: 1025px) and (max-width: 1279px) {
   .ambo-list-filter {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .left {
         button {
            width: 100%;
         }
         .ant-picker.ant-picker-range {
            min-width: 250px;
         }
      }
   }
   .emr-index-list {
      .ant-table-body {
         max-height: calc(100vh - 245px) !important;
      }
   }
   .new-emr {
      .new-emr-index {
         .patient {
            justify-content: space-between;
            .patient-info {
               max-width: 400px;
               min-width: 400px;
               .info {
                  p.names {
                     font-size: 16px;
                  }
                  .infos {
                     display: flex;
                     flex-direction: column;
                     gap: 8px;
                     div:nth-child(even) {
                        justify-content: start;
                     }
                  }
               }
            }
            .note-timer {
               flex-direction: column;
               gap: 8px;
               .emr-timer {
                  display: grid;
                  grid-template-columns: repeat(2, minmax(0, 1fr));
                  gap: 8px;
                  p:nth-child(odd) {
                     font-size: 14px;
                  }
                  .timer {
                     font-size: 20px;
                  }
               }
            }
         }
      }
   }
}
@media screen and (min-width: 1280px) {
   .ambo-list-filter {
      .left {
         button {
            width: 100%;
         }
         .ant-picker.ant-picker-range {
            min-width: 236px;
         }
      }
   }
   .emr-index-list {
      .ant-table-body {
         max-height: calc(100vh - 245px) !important;
      }
   }
}
