.main_layout_hospital {
   display: flex;
   flex-direction: row;
   gap: 12px;
}

.main-layout {
   height: calc(100vh - 12px);
   padding: 6px 12px 6px 6px;
   background-color: white;
   .main-body {
      height: calc(100%);
      display: flex;
      flex-direction: row;
      gap: 6px;
      border-radius: 8px;
      background-color: #f5f6f7;
      .sidebar {
         transition: all 0.5s;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         min-width: 220px;
         max-width: 220px;
         .sidebar-header {
            padding: 12px;
            display: flex;
            flex-direction: row;
            gap: 3px;
            justify-content: space-between;
            .companyName {
               opacity: 1;
               transition: opacity 0.3s ease-in-out;
               font-size: 24px;
               font-weight: 700;
               color: #2f4053;
            }
            span {
               font-size: 18px;
               &:hover {
                  color: #0095ff;
               }
            }
         }
         .sidebar-body {
            height: 100%;
            overflow: auto;
            width: 100%;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .menu-item {
               display: flex;
               padding: 6px;
               flex-direction: row;
               gap: 8px;
               align-items: center;
               p > svg {
                  width: 20px;
                  height: 20px;
               }
               a {
                  color: #65717f;
               }
               &:hover {
                  cursor: pointer;
                  border-radius: 8px;
                  background-color: #dde0e5;
                  a {
                     color: #4f5d6b;
                  }
               }
            }
            .menu-item.active {
               border-radius: 8px;
               background-color: #dde0e5;
            }
            .menu-item-sub {
               display: flex;
               flex-direction: column;
               transition: 0.3s ease;
               padding: 6px;
               .menu-item-sub-head {
                  p > svg {
                     width: 20px;
                     height: 20px;
                  }
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  img {
                     height: 14px;
                  }
                  &:hover {
                     cursor: pointer;
                  }
               }
               .menu-item-sub-body {
                  display: flex;
                  flex-direction: column;
                  padding-left: 6px;
                  gap: 3px;
                  height: auto;
                  .before {
                     display: flex;
                     flex-direction: row;
                     gap: 3px;
                  }
               }
               p.label {
                  color: #a0aab3;
               }
            }
            .menu-item-sub.expand {
               height: auto;
            }
         }
         .sidebar-body.loading {
            justify-content: center;
            align-items: center;
         }
         .sidebar-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            padding: 12px;
            justify-content: space-between;
            border-bottom-left-radius: 8px;
            background-color: #e9ecef;
            &:hover {
               cursor: pointer;
            }
            .image-cropper {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 45px;
               height: 45px;
               position: relative;
               overflow: hidden;
               border-radius: 50%;
            }
            .profile-pic {
               height: auto;
               width: auto;
            }
            .profile-info {
               .profile-lastname {
                  font-size: 14px;
                  font-weight: 700;
                  color: #445565;
               }
               .profile-firstname {
                  font-size: 13px;
                  font-weight: 500;
                  color: #a8b3be;
               }
            }
            .logout {
               font-size: 18px;
               color: red;
               &:hover {
                  cursor: pointer;
               }
            }
         }
      }
      .sidebar.sidebar-collapsed {
         transition: all 0.5s;
         min-width: 54px;
         max-width: 54px;
         .sidebar-header {
            justify-content: center;
            height: 60px;
            .companyName {
               display: none;
               transition: opacity 0.5s ease-in-out;
            }
         }
         .sidebar-body {
            .menu-item {
               a {
                  display: none;
               }
            }
            .menu-item-sub {
               &:hover {
                  cursor: pointer;
                  border-radius: 8px;
                  background-color: #dde0e5;
                  a {
                     color: #4f5d6b;
                  }
               }
            }
         }
         .sidebar-footer {
            justify-content: center;
            .image-cropper {
               display: none;
            }
            .profile-info {
               display: none;
            }
         }
      }
   }
}

.main_sidebar {
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   display: flex;
   min-width: 78px;
   max-width: 78px;
   flex-direction: column;
   align-items: center;
   padding: 24px 0;
   background-color: #0095ff;
   gap: 12px;
   .main_sidebar_menus {
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: calc(100% - 150px);
      justify-content: space-between;
      .top,
      .bottom {
         display: flex;
         width: 100%;
         flex-direction: column;
         position: relative;
         gap: 60px;
         align-items: center;
         ul {
            position: absolute;
            width: 68px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            a {
               position: relative;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               align-self: stretch;
               .content-profile {
                  width: 62px;
                  height: 62px;
                  padding: 11px 11px;
                  .icon-profile {
                     display: inline-block;
                     background-size: cover;
                     background-image: url('/src/assets/images/maleAvatar.svg');
                     border-radius: 50%;
                  }
                  &:hover {
                     border-radius: 50%;
                     background-color: rgb(240, 242, 245);
                     cursor: pointer;
                  }
               }
               .content {
                  width: 60px;
                  height: 60px;
                  padding: 11px 11px;
                  .icon {
                     display: inline-block;
                     width: 38px;
                     height: 38px;
                     background-size: cover;
                  }
                  &:hover {
                     border-radius: 50%;
                     background-color: rgb(240, 242, 245);
                     cursor: pointer;
                     .icon-i {
                        background-image: url('/public/images/iSymbolColor.svg');
                     }
                  }
                  .icon-i {
                     background-image: url('/public/images/iSymbol.svg');
                     &.active {
                        background-image: url('/public/images/iSymbolColor.svg');
                     }
                  }
               }
            }
            a.active {
               border-radius: 100px 0px 0px 100px;
               background: var(--gray-white, #fff);
               width: 73px;
               .content,
               .content-profile {
                  margin-right: 5px;
               }
               &::before,
               &::after {
                  content: '';
                  height: 20px;
                  width: 18px;
                  position: absolute;
                  bottom: 0;
                  background: radial-gradient(circle at top left, #fff0 73.5%, #fff 75%);
               }
               &::after {
                  right: 0px;
                  top: 100%;
                  background: radial-gradient(circle at bottom left, #fff0 73.5%, #fff 75%);
               }
               &::before {
                  bottom: 100%;
                  right: 0px;
               }
            }
         }
      }
   }
}

.ihospital-menu {
   height: 100vh;
   display: flex;
   flex-direction: column;
   gap: 24px;
   padding: 24px 0px 100px 8px;
   background-color: white;
   .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }
   .menu-body {
      padding: 8px;
      border-radius: 8px;
      background-color: #eff4fa;
      height: 100%;
      overflow: auto;
      .ant-menu-item-icon {
         svg {
            height: 20px;
            width: 20px;
         }
      }
      .ant-menu.ant-menu-inline-collapsed {
         > .ant-menu-item {
            padding: 0px calc(50% - 20px / 2);
         }
      }
      .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
         padding: 0px calc(50% - 20px / 2);
      }
   }
}

@media screen and (min-width: 768px) {
   .patient-info {
      .info {
         width: 100%;
      }
   }
   .emr-doctor-notes-public,
   .emr-doctor-notes-private {
      width: 100%;
   }
}

.patient-info {
   display: flex;
   flex: 1 0 0;
   padding: 8px;
   flex-direction: row;
   gap: 8px;
   background-color: white;
   align-items: center;
   border-radius: 5px;
   .picture {
      max-height: 150px;
      max-width: 150px;
      border-radius: 16px;
   }
   > .info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      p.names {
         color: #6b7785;
         font-size: 20px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
      }
      p {
         color: #6b7785;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
      }
      > .ant-radio-group {
         height: 36px;
         > .ant-radio-button-wrapper {
            border: none !important;
            padding: 8px 12px;
            height: 36px;
         }
         > .ant-radio-button-wrapper-checked {
            height: 36px;
            border-radius: 8px;
            background: var(
               --30,
               linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%),
               #2d8cff
            );
         }
         > .ant-radio-button-wrapper::before {
            display: none;
         }
      }
   }
}
.emr-navbar {
   width: 100%;
   display: flex;
   flex-direction: row;
   gap: 8px;
   padding: 8px;
   border-bottom: 1px solid #e5e6eb;
   background: #fff;
   justify-content: flex-end;
   button {
      display: flex;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      background: #2d8cff;
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
   }
}

.emr-doctor-notes-public {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 8px;
   border-radius: 4px;
   border: 1px solid #61c695;
   background: #b6ecce;
   .content-notes {
      max-height: 100px;
      height: 100px;
      overflow: auto;
   }
   button {
      display: flex;
      padding: 6px 8px;
      align-items: center;
      gap: 4px;
      border-radius: 4px;
      background: #22a06b;
      color: white;
   }
   input {
      width: auto;
      min-height: 33px;
      border-radius: 4px;
      border: 1px solid #c9cdd4;
      background: #fff;
      &:hover {
         border: 1px solid #22a06b;
      }
   }
}
.emr-doctor-notes-private {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 8px;
   border-radius: 4px;
   border: 1px solid #f4b35e;
   background: #f4b35e;
   .content-notes {
      max-height: 100px;
      height: 100px;
      overflow: auto;
   }
   button {
      display: flex;
      padding: 6px 8px;
      align-items: center;
      gap: 4px;
      border-radius: 4px;
      background: #ec7a09;
      color: white;
   }
   input {
      width: auto;
      min-height: 33px;
      border-radius: 4px;
      border: 1px solid #c9cdd4;
      background: #fff;
      &:hover {
         border: 1px solid #f4b35e;
      }
   }
}

.emr-timer {
   display: flex;
   padding: 8px;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   border-radius: 4px;
   background: #e5e6eb;
   p {
      color: #4e5969;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   p.timer {
      color: #4e5969;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   button {
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      background-color: white;
      font-weight: 700;
   }
}
