body {
   margin: 0;
   padding: 0;
   background-color: #fafafa;
   /* font: 12pt "Arial"; */
}

* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
}

.page {
   width: 21cm;
   min-height: 29.7cm;
   margin: 1cm auto;
   border: 1px #d3d3d3 solid;
   border-radius: 5px;
   background: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.labPage {
   width: 21cm;
   min-height: 29.7cm;
   margin: 1cm auto;
   border: 1px #d3d3d3 solid;
   border-radius: 5px;
   background: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page-landscape {
   min-width: 29.7cm;
   height: 209mm;
   margin: 1cm auto;
   border: 1px #d3d3d3 solid;
   border-radius: 5px;
   background: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage-landscape {
   padding: 10mm;
   height: 190mm;
}

.subpage {
   padding: 10mm;
   height: 277mm;
   /* outline: 2cm #FFEAEA solid; */
}
.labsubpage {
   position: relative;
   display: block;
   padding: 10mm;
   height: 277mm;
}
.story .ant-checkbox-wrapper {
   font-size: 11px !important;
}
.story .ant-checkbox-inner {
   width: 11px !important;
   height: 11px !important;
   border-color: #000 !important;
   background-color: white !important;
}
.story .ant-checkbox-wrapper {
   font-size: 11px !important;
}
.story .ant-checkbox-inner::after {
   background-color: white !important;
   border-color: black !important;
}
.story thead > tr > td {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
   vertical-align: top !important;
}
.story thead > tr > th {
   margin-left: 4px !important;
   padding: 0px 4px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
   vertical-align: top !important;
}
.story thead > tr > th p {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
}
.story thead > tr > td p {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
}
.story thead > tr > th.imgMiddle {
   vertical-align: middle !important;
}
.story thead > tr {
   border-color: #000 !important;
}

.story tbody > tr {
   border-color: #000 !important;
}
.story .amaraInputTextArea.ant-input {
   resize: none !important;
   height: 76px !important;
}
.story .amaraInput.ant-input {
   resize: none !important;
   height: 18px !important;
   text-align: center !important;
}
.story .ant-input {
   border: none !important;
   height: 18px !important;
   font-size: 11px !important;
   background-color: transparent !important;
   color: black !important;
   width: min-content;
   padding: 0px !important;
}
.story .ant-input:disabled {
   border: none !important;
   height: 18px !important;
   /* max-height: 100px !important; */
   font-size: 11px !important;
   background-color: transparent !important;
   color: black !important;
   width: min-content;
   padding: 0px !important;
   resize: none !important;
}
/* @page {
   .document,
   .docuement2{

   }
   size: A4;
   margin: 0;
} */

@media print {
   .page {
      margin: 0;
      page-break-after: always;
   }
   .page-landscape {
      margin: 0;
      page-break-after: always;
   }
}
/* lab */
.footerAna {
   position: absolute;
}
