body {
   margin: 0;
   padding: 0;
   background-color: #fafafa;
   /* font: 12pt "Arial"; */
}

* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
}

.page {
   width: 21cm;
   min-height: 29.7cm;
   margin: 1cm auto;
   border: 1px #d3d3d3 solid;
   border-radius: 5px;
   background: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.pageMNS5376 {
   width: 3.9in;
   height: 8.4in;
   padding: 5mm;
   /* margin: auto auto; */
   /* border-radius: 5px; */
   background: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpageMNS5376 {
   /* padding: 2mm; */
   /* height: 190mm; */
}

.labPage {
   width: 21cm;
   min-height: 29.7cm;
   margin: 1cm auto;
   border: 1px #d3d3d3 solid;
   border-radius: 5px;
   background: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page-landscape {
   min-width: 29.7cm;
   height: 209mm;
   margin: 1cm auto;
   border: 1px #d3d3d3 solid;
   border-radius: 5px;
   background: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage-landscape {
   padding: 10mm;
   height: 190mm;
}

.subpage {
   padding: 10mm;
   height: 277mm;
   /* outline: 2cm #FFEAEA solid; */
}
.labsubpage {
   position: relative;
   display: block;
   padding: 10mm;
   height: 277mm;
}
.story .ant-checkbox-wrapper {
   font-size: 11px !important;
}
.story .ant-checkbox-inner {
   width: 11px !important;
   height: 11px !important;
   border-color: #000 !important;
   background-color: white !important;
}
.story .ant-checkbox-wrapper.test span.ant-checkbox {
   display: none !important;
}
.story .ant-checkbox-wrapper.test.ant-checkbox-wrapper-checked span {
   text-decoration: underline !important;
}
.dstory .ant-checkbox-wrapper.test span.ant-checkbox {
   display: none !important;
}
.dstory .ant-checkbox-wrapper.test.ant-checkbox-wrapper-checked span {
   text-decoration: underline !important;
}
/* gaduur ni hure zurah start */
.dstory .ant-checkbox-wrapper.test2 {
   font-size: 14px !important;
}
.dstory .ant-checkbox-wrapper.test2 span.ant-checkbox {
   display: none !important;
}
.dstory .ant-checkbox-wrapper.test2.ant-checkbox-wrapper-checked span {
   border: 1px solid black !important;
   border-radius: 50% !important;
}
/* gaduur ni hure zurah end */
.story .ant-checkbox-wrapper {
   font-size: 11px !important;
}
.story .ant-checkbox-inner::after {
   background-color: transparent !important;
   border-color: black !important;
}
.story thead > tr > td {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
   vertical-align: top !important;
}
.story thead > tr > th {
   margin-left: 4px !important;
   padding: 0px 4px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
   vertical-align: top !important;
}
.story thead > tr > th p {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
}
.story thead > tr > td p {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
}
.story thead > tr > th.imgMiddle {
   vertical-align: middle !important;
}
.story thead > tr {
   border-color: #000 !important;
}

.story tbody > tr {
   border-color: #000 !important;
}
.story .amaraInputTextArea.ant-input {
   resize: none !important;
   min-height: 76px;
}
.story .amaraInput.ant-input {
   resize: none !important;
   height: 18px !important;
   text-align: center !important;
}
.story .ant-input {
   border: none !important;
   height: 18px !important;
   font-size: 11px !important;
   font-weight: 400 !important;
   background-color: transparent !important;
   color: black !important;
   width: min-content;
   padding: 0px !important;
   border-radius: 0% !important;
   border-bottom: 1px solid black !important;
}
.dstory .ant-picker.ant-picker-disabled {
   background-color: transparent !important;
   border: none !important;
   padding: 0px !important;
   border-radius: 0% !important;
   text-align: center !important;
   width: 50px !important;
   height: 19px !important;
   border-bottom: 1px solid black !important;
}
.story .ant-picker.ant-picker-disabled {
   background-color: transparent !important;
   border: none !important;
   padding: 0px !important;
   border-radius: 0% !important;
   text-align: center !important;
   height: 17px !important;
}
.dstory .ant-picker-input > input:disabled {
   color: black !important;
   font-size: 13px !important;
   font-weight: 600 !important;
   text-align: center !important;
}
.dstory .ant-picker-suffix {
   display: none !important;
}
.story .ant-picker-input > input:disabled {
   color: black !important;
   font-size: 11px !important;
   font-weight: 600 !important;
   text-align: center !important;
}
.story .ant-picker-suffix {
   display: none !important;
}
.dstory .ant-input {
   border: none !important;
   height: 19px !important;
   font-size: 13px !important;
   background-color: transparent !important;
   color: black !important;
   width: min-content;
   padding: 0px !important;
   border-radius: 0% !important;
   text-align: center !important;
   border-bottom: 1px solid black !important;
}
.story .oned .ant-select-selector {
   border: none !important;
   height: 60px !important;
}
.story .ant-select-multiple .ant-select-selection-item {
   background-color: transparent !important;
   border: none !important;
   font-weight: bold !important;
   height: 18px !important;
}
.story .ant-input:disabled {
   border: none !important;
   height: 18px !important;
   /* max-height: 100px !important; */
   font-size: 11px !important;
   background-color: transparent !important;
   color: black !important;
   width: min-content;
   padding: 0px !important;
   resize: none !important;
}
.dstory .ant-input:disabled {
   border: none !important;
   height: 19px !important;
   /* max-height: 100px !important; */
   font-size: 13px !important;
   background-color: transparent !important;
   color: black !important;
   width: min-content;
   padding: 0px !important;
   resize: none !important;
   border-radius: 0% !important;
   text-align: center !important;
   border-bottom: 1px solid black !important;
}
.diagnoseButton {
   float: right !important;
   background-color: green;
   color: white;
}
/* @page {
   .document,
   .docuement2{

   }
   size: A4;
   margin: 0;
} */

@page {
   margin: 0.2cm !important;
}

@media print {
   .pageMNS5376 {
      page-break-after: always;
   }
   .page {
      margin: 0;
      page-break-after: always;
   }
   .page-landscape {
      margin: 0;
      page-break-after: always;
   }
   .diagnoseButton {
      display: none !important;
   }
}
/* lab */
.footerAna {
   position: absolute;
}
