@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import './style/main.css';
@import './style/responsive.css';
@import './style/Hospital.css';
/* @import '../node_modules/antd/dist/antd.css'; */
@import 'antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
   list-style-type: none;
   counter-reset: item;
   margin: 0;
   padding: 0;
}

ol > li {
   display: table;
   counter-increment: item;
   margin-bottom: 0.6em;
}

ol > li:before {
   color: rgb(45, 140, 255);
   font-weight: 600;
   font-size: 16px;
   content: counters(item, '.') '. ';
   display: table-cell;
   padding-right: 0.6em;
}

li ol > li {
   margin: 0;
   font-size: 15px;
   white-space: normal;
}

li::marker {
   color: #2d8cff;
}

li ol > li:before {
   content: counters(item, '.') ' ';
}

label {
   white-space: normal !important;
   /* text-align: center !important; */
}
.ant-pagination.ant-pagination-mini .ant-pagination-options-quick-jumper input {
   height: 28px !important;
   border-radius: 6px !important;
}
.ant-input-number {
   width: 100%;
   height: 28px !important;
   border-radius: 6px !important;
   width: 100% !important;
   text-align: center;
}

fieldset.scheduler-border {
   border: 1px solid #2d8cff !important;
   padding: 7px 1.4em 0 1.4em !important;
   margin: 0 0 1.5em 0 !important;
   -webkit-box-shadow: 0px 0px 0px 0px #000;
   box-shadow: 0px 0px 0px 0px #000;
   width: 100%;
}

legend.scheduler-border {
   width: inherit;
   /* Or auto */
   padding: 0 10px;
   /* To give a bit of padding on the left and right */
   border-bottom: none;
   width: auto;
   background: #2d8cff;
   color: #f1f6f9;
   border-radius: 3px;
   font-size: 13px;
   float: none !important;
}

.ant-select.ant-select-in-form-item {
   padding: 0px !important;
}

.ant-form-item-label label {
   height: 28px;
   font-size: 12px;
   font-weight: bold;
}

.events {
   margin: 0;
   padding: 0;
   list-style: none;
}

.events .ant-badge-status {
   width: 100%;
   overflow: hidden;
   font-size: 12px;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.notes-month {
   font-size: 28px;
   text-align: center;
}

.notes-month section {
   font-size: 28px;
}

.ant-picker {
   height: 28px !important;
   border-radius: 6px !important;
   width: 100%;
}

.ant-input-number-input {
   height: 28px !important;
}

.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
   border-top: 1px solid #2d8cff !important;
}

.ant-row .ant-form-item-row {
   align-items: center;
   justify-content: space-between !important;
}

.ant-form-item-control-input {
   min-height: 28px !important;
   background: white;
   border-radius: 5px;
}

.ant-form-item-control-input-content {
   min-height: 28px !important;
}

.small-radio-button > .ant-radio-button-wrapper {
   height: 24px !important;
   padding: 0 7px !important;
   line-height: 22px !important;
}

.ant-menu-title-content {
   white-space: normal !important;
   line-height: 14px !important;
}

.ant-select-selector {
   /* height: 28px !important; */
   min-height: 28xp !important;
   place-content: center;
}

.ant-input {
   height: 28px;
   border-radius: 6px !important;
   background: transparent;
}

.ant-input-search-button {
   height: 26px !important;
   /* border-top-right-radius: 6px !important; */
   /* border-bottom-right-radius: 6px !important; */
   border-radius: 6px !important;
   margin-left: 4px;
   background-color: #2d8cff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-ap.ant-menu.ant-menu-inline-collapsed .ant-menu-item-icon,
   .ant-menu.ant-menu-inline-collapsed .anticon {
      display: block !important;
   }

   pearance: none;
   margin: 0;
}

.ant-input-affix-wrapper {
   height: 28px !important;
   border-radius: 6px !important;
   align-items: center;
}
.ant-input-affix-wrapper > input.ant-input {
   height: 26px !important;
}

.ant-alert {
   min-height: 30px;
   height: auto;
}

/* Firefox */
input[type='number'] {
   -moz-appearance: textfield;
}

.custom-card > .ant-card-head > .ant-card-head-wrapper {
   /* display: contents !important; */
   display: flex;
}

.ant-collapse-header {
   padding: 5px !important;
   align-items: center !important;
}

.ant-collapse-arrow {
   display: inline-flex !important;
   /* Collapse -н сумыг голлуулах */
}
.ant-table-thead > tr > th {
   padding: 7px 10px !important;
   text-align: center;
}

.ant-table-tbody > tr > td {
   padding: 2px 0px !important;
   text-align: center;
   vertical-align: middle;
}

.page .ant-form label {
   font-size: 13px !important;
}

.page .ant-form-item-row {
   min-height: 22px !important;
}

.page .ant-form-item-control {
   min-height: 22px !important;
}

.page .ant-form-item-control-input {
   min-height: 22px !important;
}

.page .ant-form-item-control-input-content {
   min-height: 22px !important;
}

.ant-btn {
   height: 28px !important;
   line-height: 0 !important;
   border-radius: 6px !important;
   white-space: normal;
}

.ant-btn-primary {
   background-color: #2d8cff;
}

.btn-add {
   border-radius: 6px !important;
   color: white;
   background-color: green;
}

.ant-tabs-tab {
   border-top-left-radius: 6px !important;
   border-top-right-radius: 6px !important;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
   /* border: 1px solid #2d8cff !important; */
   border-top: 1px solid #2d8cff !important;
   border-right: 1px solid #2d8cff !important;
   border-left: 1px solid #2d8cff !important;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
   border-bottom: 1px solid #2d8cff;
}

.ant-tabs-top > .ant-tabs-nav::before {
   border-bottom: 1px solid #2d8cff;
}

/* .ant-tabs > .ant-tabs-nav {
  margin: 0 !important;
} */
.department-bed-segment > .ant-segmented-group > .ant-segmented-item-selected {
   background-color: #2d8cff;
   color: #fff;
}

.department-bed-segment > .ant-segmented-group > .ant-segmented-item {
   transition: color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.anticon {
   vertical-align: middle !important;
}

.ant-segmented.ant-segmented-sm .ant-segmented-item-label {
   display: flex !important;
}

.ant-segmented-sm
   > .ant-segmented-group
   > .ant-segmented-item
   > .ant-segmented-item-label
   > .ant-segmented-item-icon {
   line-height: 18px !important;
   display: inline !important;
}

.bed-collapse > .ant-collapse-item > .ant-collapse-header {
   padding: 0 !important;
}

.custom-primary-btn {
   background-color: #2d8cff !important;
}

.ant-menu.ant-menu-inline-collapsed .ant-menu-item-icon,
.ant-menu.ant-menu-inline-collapsed .anticon {
   display: block !important;
}
.ant-menu-sub.ant-menu-vertical > .ant-menu-item {
   display: flex !important;
   align-items: center !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.width-200 {
   width: 200px !important;
}

.ant-image-preview-img {
   margin: auto;
   width: 20%;
}

.ant-image-preview-img-wrapper {
   position: initial;
}

/* .ant-table-cell-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1890ff;
} */

.ant-table-container::-webkit-scrollbar-track {
   border: 2px solid white;
   background-color: #f5f5f5;
}

.ant-table-container::-webkit-scrollbar-thumb {
   background-color: #2d8cff !important;
}

.ant-table.ant-table-bordered
   > .ant-table-container
   > .ant-table-content
   > table
   > tbody
   > tr
   > td {
   white-space: pre-wrap !important;
}

@media print {
   p {
      /* font-family: 'Times New Roman', Times, serif; */
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: small;
      color: black;
      white-space: normal;
   }

   .printBody {
      padding-left: 10px;
      padding-right: 10px;
   }

   .magadlagaa {
      padding: 1.5cm;
   }

   .magadlagaa .ant-input {
      border-style: none;
   }

   .magadlagaa .ant-picker {
      border-style: none;
      text-decoration: underline;
   }

   .magadlagaa .ant-picker .ant-picker-suffix {
      display: none;
   }

   .amara {
      /* margin-left: 1cm; */
      /* margin-right: 1cm; */
   }
}

.magadlagaa {
   padding: 1.5cm;
}

.magadlagaa .ant-picker {
   height: 23px !important;
}

.magadlagaa .ant-input {
   height: 23px !important;
}

.magadlagaa .ant-picker-input > input {
   width: 30px !important;
}

.ddd {
   opacity: 1 !important;
   pointer-events: none !important;
}

.amaraBorder {
   border: 0.05rem solid black;
}

.amaraBorder p {
   font-size: 13px !important;
   height: 20px !important;
}

.amaraDeer {
   border-top: 1px solid black;
}

.amaraDoor {
   border-bottom: 1px solid black;
}

.amaraZuun {
   border-left: 1px solid black;
}

.amaraBaruun {
   border-right: 1px solid black;
}

table .formTable tr > th {
   height: 21px !important;
   font-size: 12px;
   border: 1px solid black;
}

table .formTable tr > td {
   border: 1px solid black;
}

.ant-table td {
   white-space: nowrap !important;
}

.IO thead > tr > th {
   vertical-align: middle !important;
   text-align: center !important;
   font-size: 12px !important;
}
.IO thead > tr > td {
   vertical-align: middle !important;
   text-align: center !important;
   font-size: 12px !important;
}
.IO tbody > tr > th {
   vertical-align: middle !important;
   text-align: center !important;
   font-size: 12px !important;
}

.IO thead > tr {
   border-color: #000 !important;
}

.IO tbody > tr {
   border-color: #000 !important;
}

.bcp tbody > tr {
   border-color: #000 !important;
}

.bcp2 thead > tr {
   border-color: #000 !important;
}

.bcp2 tbody > tr {
   border-color: #000 !important;
}

.bcp thead > tr > th {
   padding: 0px !important;
   font-weight: 400 !important;
   font-size: 7px !important;
   vertical-align: middle !important;
   text-align: center !important;
   color: black !important;
}

.bcp thead > tr > td {
   padding: 0px !important;
   font-weight: 400 !important;
   font-size: 7px !important;
   vertical-align: middle !important;
   text-align: center !important;
}

.bcp thead > tr > td > p {
   padding: 0px !important;
   font-weight: 400 !important;
   font-size: 7px !important;
   vertical-align: middle !important;
   text-align: start !important;
}

.bcp thead > tr > td > .ff > p {
   padding: 0px !important;
   font-weight: 400 !important;
   font-size: 7px !important;
   vertical-align: middle !important;
   text-align: start !important;
}

.bcp thead > tr {
   border-color: #000 !important;
}
.bcp tbody > tr {
   border-color: #000 !important;
}

.bcp2 thead > tr > th {
   padding: 0px !important;
   font-weight: 400 !important;
   font-size: 10px !important;
   vertical-align: middle !important;
   text-align: center !important;
   color: black;
}

.bcp2 thead > tr > td {
   padding: 0px !important;
   font-weight: 400 !important;
   font-size: 10px !important;
   vertical-align: middle !important;
   text-align: center !important;
}

.bcp2 thead > tr > td > p {
   padding: 0px !important;
   font-weight: 400 !important;
   font-size: 10px !important;
   vertical-align: middle !important;
   text-align: start !important;
}

.bcp2 thead > tr > td > .ff > p {
   padding: 0px !important;
   font-weight: 400 !important;
   font-size: 6px !important;
   vertical-align: middle !important;
   text-align: start !important;
}

.document thead > tr > td {
   margin-left: 8px !important;
   padding: 0px !important;
   font-size: 13px !important;
   font-family: Arial, Helvetica, sans-serif;
}

.document2 thead > tr > td {
   margin-left: 8px !important;
   padding: 0px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
}

.document thead > tr > td p {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 13px !important;
   font-family: Arial, Helvetica, sans-serif;
}

.document2 thead > tr > td p {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
}
.document thead > tr > th p {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 13px !important;
   font-family: Arial, Helvetica, sans-serif;
}

.document2 thead > tr > th p {
   margin-left: 4px !important;
   padding: 0px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
}

.document thead > tr > th {
   margin-left: 4px !important;
   padding: 0px 4px !important;
   font-size: 13px !important;
   font-family: Arial, Helvetica, sans-serif;
   vertical-align: top !important;
}

.document2 thead > tr > th {
   margin-left: 4px !important;
   padding: 0px 4px !important;
   font-size: 11px !important;
   font-family: Arial, Helvetica, sans-serif;
   vertical-align: top !important;
}

.document .ant-checkbox-inner,
.document2 .ant-checkbox-inner {
   width: 12px !important;
   height: 12px !important;
   border-color: #000 !important;
   background-color: white !important;
}

.document .ant-checkbox-inner::after,
.document2 .ant-checkbox-inner::after {
   background-color: white !important;
   border-color: black !important;
}

.document .ant-checkbox-wrapper {
   font-size: 13px !important;
}
.document2 .ant-checkbox-wrapper {
   font-size: 11px !important;
}

.document .ant-form label {
   font-size: 13px !important;
}

.document2 .ant-form label {
   font-size: 11px !important;
}

.document thead > tr,
.document2 thead > tr {
   border-color: #000 !important;
}

.document tbody > tr,
.document2 tbody > tr {
   border-color: #000 !important;
}

.document thead > tr,
.document2 thead > tr {
   border-color: #000 !important;
}

.document tbody > tr,
.document2 tbody > tr {
   border-color: #000 !important;
}

.vsdocument thead > tr > td {
   /* margin-left: 8px !important; */
   padding: 0px !important;
   font-size: 0.185cm !important;
   font-family: Arial, Helvetica, sans-serif;
   vertical-align: top !important;
}
.vsdocument thead > tr > th {
   /* margin-left: 8px !important; */
   padding: 0px !important;
   font-size: 9px !important;
   font-family: Arial, Helvetica, sans-serif;
   vertical-align: bottom !important;
}
.vsdocument thead > tr {
   border-color: #000 !important;
}
.document .ant-input:disabled {
   border: none !important;
   height: 18px !important;
   /* max-height: 100px !important; */
   font-size: 13px !important;
   background-color: transparent !important;
   color: black !important;
   width: min-content;
   padding: 0px !important;
   resize: none !important;
}
.document .amaraInputTextArea.ant-input {
   resize: none !important;
   height: 76px !important;
}
.document .amaraInput.ant-input {
   resize: none !important;
   height: 18px !important;
}
.document2 .ant-input {
   border: none !important;
   height: 18px !important;
   font-size: 11px !important;
   background-color: transparent !important;
   color: black !important;
   width: min-content;
   padding: 0px !important;
}
.steps-content {
   min-height: 200px;
   margin-top: 16px;
   padding-top: 80px;
   text-align: center;
   background-color: #fafafa;
   border: 1px dashed #e9e9e9;
   border-radius: 2px;
}

.steps-action {
   margin-top: 24px;
}
