@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./style/main.css";
@import "./style/responsive.css";
@import "./style/Hospital.css";
@import "~antd/dist/antd.css";

label {
  white-space: normal !important;
  /* text-align: center !important; */
}

.ant-input-number {
  width: 100%;
  height: 28px !important;
  border-radius: 6px !important;
  width: 100% !important;
  text-align: center;
}

fieldset.scheduler-border {
  border: 1px solid #2d8cff !important;
  padding: 7px 1.4em 0 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  width: 100%;
}

legend.scheduler-border {
  width: inherit;
  /* Or auto */
  padding: 0 10px;
  /* To give a bit of padding on the left and right */
  border-bottom: none;
  width: auto;
  background: #2d8cff;
  color: #f1f6f9;
  border-radius: 3px;
  font-size: 13px;
  float: none !important;
}

.ant-select.ant-select-in-form-item {
  padding: 0px !important;
}

.ant-form-item-label label {
  height: 28px;
  font-size: 12px;
  font-weight: bold;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}

.ant-picker {
  height: 28px !important;
  border-radius: 6px !important;
  width: 100%;
}

.ant-input-number-input {
  height: 28px !important;
}

.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  border-top: 1px solid #2d8cff !important;
}

.ant-row .ant-form-item-row {
  align-items: center;
  justify-content: space-between !important;
}

.ant-form-item-control-input {
  min-height: 28px !important;
  background: white;
  border-radius: 5px;
}

.ant-form-item-control-input-content {
  min-height: 28px !important;
}

.small-radio-button>.ant-radio-button-wrapper {
  height: 24px !important;
  padding: 0 7px !important;
  line-height: 22px !important;
}

.ant-menu-title-content {
  white-space: normal !important;
  line-height: 14px !important;
}

.ant-select-selector {
  height: 28px !important;
  place-content: center;
}

.ant-input {
  height: 28px;
  border-radius: 6px;
  background: transparent;
}

.ant-input-search-button {
  height: 28px;
  /* border-top-right-radius: 6px !important; */
  /* border-bottom-right-radius: 6px !important; */
  border-radius: 6px !important;
  margin-left: 4px;
  background-color: #2d8cff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

  -webkit-ap.ant-menu.ant-menu-inline-collapsed .ant-menu-item-icon,
  .ant-menu.ant-menu-inline-collapsed .anticon {
    display: block !important;
  }

  pearance: none;
  margin: 0;
}

.ant-input-affix-wrapper {
  height: 28px;
  border-radius: 6px !important;
  align-items: center;
}

.ant-alert {
  min-height: 30px;
  height: auto;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-card>.ant-card-head>.ant-card-head-wrapper {
  /* display: contents !important; */
  display: flex;
}

.ant-collapse-header {
  padding: 5px !important;
}

.ant-collapse-arrow {
  display: inline-flex !important;
  /* Collapse -н сумыг голлуулах */
}

.ant-table-thead>tr>th {
  padding: 7px 10px !important;
  text-align: center;
}

.ant-table-tbody>tr>td {
  padding: 2px 0px !important;
  text-align: center;
  vertical-align: middle;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  padding-top: 0.8cm;
  padding-bottom: 0.8cm;
  padding-right: 1cm;
  padding-left: 1cm;
  /* padding: 1cm; */
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page .ant-form label {
  font-size: 13px !important;
}

.page .ant-form-item-row {
  min-height: 22px !important;
}

.page .ant-form-item-control {
  min-height: 22px !important;
}

.page .ant-form-item-control-input {
  min-height: 22px !important;
}

.page .ant-form-item-control-input-content {
  min-height: 22px !important;
}

.page-landscape {
  width: 29.7cm;
  min-height: 21cm;
  padding: 1cm;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@page {
  size: A4;
  margin: 0;
}

.ant-btn {
  height: 28px !important;
  line-height: 1;
  border-radius: 6px !important;
}

.ant-btn-primary {
  background-color: #2d8cff;
}

.btn-add {
  border-radius: 6px !important;
  color: white;
  background-color: green;
}

.ant-tabs-tab {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active {
  /* border: 1px solid #2d8cff !important; */
  border-top: 1px solid #2d8cff !important;
  border-right: 1px solid #2d8cff !important;
  border-left: 1px solid #2d8cff !important;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
  border-bottom: 1px solid #2d8cff;
}

.ant-tabs-top>.ant-tabs-nav::before {
  border-bottom: 1px solid #2d8cff;
}

/* .ant-tabs > .ant-tabs-nav {
  margin: 0 !important;
} */
.department-bed-segment>.ant-segmented-group>.ant-segmented-item-selected {
  background-color: #2d8cff;
  color: #fff;
}

.department-bed-segment>.ant-segmented-group>.ant-segmented-item {
  transition: color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.anticon {
  vertical-align: middle !important;
}

.ant-segmented.ant-segmented-sm .ant-segmented-item-label {
  display: flex !important;
}

.ant-segmented-sm>.ant-segmented-group>.ant-segmented-item>.ant-segmented-item-label>.ant-segmented-item-icon {
  line-height: 18px !important;
  display: inline !important;
}

.bed-collapse>.ant-collapse-item>.ant-collapse-header {
  padding: 0 !important;
}

.custom-primary-btn {
  background-color: #2d8cff !important;
}

.ant-menu.ant-menu-inline-collapsed .ant-menu-item-icon,
.ant-menu.ant-menu-inline-collapsed .anticon {
  display: block !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.width-200 {
  width: 200px !important;
}

.ant-image-preview-img {
  margin: auto;
  width: 20%;
}

.ant-image-preview-img-wrapper {
  position: initial;
}

/* .ant-table-cell-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1890ff;
} */

.ant-table-container::-webkit-scrollbar-track {
  border: 2px solid white;
  background-color: #f5f5f5;
}

.ant-table-container::-webkit-scrollbar-thumb {
  background-color: #2d8cff !important;
}

.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>td {
  white-space: pre-wrap !important;
}

@media print {

  html,
  body {
    /* height: auto; */
  }

  p {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: small;
    color: black;
    white-space: normal;
  }

  .printBody {
    padding-left: 10px;
    padding-right: 10px;
  }

  .magadlagaa {
    padding: 1.5cm;
  }

  .magadlagaa .ant-input {
    border-style: none;
  }

  .magadlagaa .ant-picker {
    border-style: none;
    text-decoration: underline;
  }

  .magadlagaa .ant-picker .ant-picker-suffix {
    display: none;
  }

  .amara {
    /* margin-left: 1cm; */
    /* margin-right: 1cm; */
  }
}

.magadlagaa {
  padding: 1.5cm;
}

.magadlagaa .ant-picker {
  height: 23px !important;
}

.magadlagaa .ant-input {
  height: 23px !important;
}

.magadlagaa .ant-picker-input>input {
  width: 30px !important;
}

.ddd {
  opacity: 1 !important;
  pointer-events: none !important;
}

.amaraBorder {
  border: 0.05rem solid black;
}

.amaraBorder p {
  font-size: 13px !important;
  height: 20px !important;
}

.amaraDeer {
  border-top: 1px solid black;
}

.amaraDoor {
  border-bottom: 1px solid black;
}

.amaraZuun {
  border-left: 1px solid black;
}

.amaraBaruun {
  border-right: 1px solid black;
}

table .formTable tr>th {
  height: 21px !important;
  font-size: 12px;
  border: 1px solid black;
}

table .formTable tr>td {
  border: 1px solid black;
}